/* Books List */
.book-container {
	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;
	column-gap: 2%;
}

.booktitle-container {
	padding-inline: 1rem;
	padding-block: 0.75rem;
	border: var(--solid-border);
	& h3 {
		margin: 0;
	}
}

.booklist {
	list-style: none;
	padding: 0;
}

.booklist-item {
	align-self: stretch;
	display: flex;
	flex-direction: column;
}

.booklist-item:before {
	font-family: var(--font-family-sans);
	display: none;
}

ol li.book {
	border: var(--solid-border);
	display: flex;
	flex-direction: column;
	flex: 0 1 49%;
	margin-block-end: .75rem;
}

li img {
	border: var(--solid-border);
	aspect-ratio: 5 / 4;
	object-fit: cover;
	min-height: 10em;
}

@media (max-width: 720px) {
	ol li img {
		aspect-ratio: 7 / 5;
	}
}

@media (max-width: 480px) {
	.book-container {
		display: block;
	}
	ol li.book {
		min-width: 100%;
		& img {
			aspect-ratio: 16 / 9;
		}
	}
}