/* Books List */
.booktitle-container {
	padding-inline: 1rem;
	padding-block: 0.75rem;
	& h3 {
		margin: 0;
	}
}

.book-container {
	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;
	column-gap: 2%;
	/* row-gap: 2rem; */
	/* margin-top: 2.5rem; */
}

/* .book {
	width: 32%;
} */

.booklist {
	list-style: none;
	padding: 0;
}

.booklist-item {
	align-self: stretch;
}

.booklist-item:before {
	font-family: var(--font-family-sans);
	display: none;
	/* pointer-events: none;
	content: "#" counter(start-from, decimal-leading-zero) "\A";
	white-space: pre;
	font-size: 1.5em;
	padding-bottom: 0.25em;
	margin-top: 1.5em;
	font-weight: 300;
	letter-spacing: 0.025em; */
}

ol li.book {
	border: 1.5px solid var(--color-gray-90);
	flex: 0 1 49%;
	margin-bottom: .75rem;
}

.book-information-container {
	padding-inline: 1rem;
	padding-block-start: .25rem;
	padding-block-end: .75rem;
	& p {
		margin: 0;
	}
}

li img {
	border-top: 1.5px solid var(--color-gray-90);
	border-bottom: 1.5px solid var(--color-gray-90);
	aspect-ratio: 5 / 4;
	object-fit: cover;
	min-height: 10em;
}

@media (max-width: 720px) {
	ol li img {
		aspect-ratio: 7 / 5;
	}
}

@media (max-width: 480px) {
	.book-container {
		display: block;
	}
	ol li.book {
		min-width: 100%;
		& img {
			aspect-ratio: 16 / 9;
		}
	}
}