/* Portfolio Images: Accordion */
.accordion {
	width: 100%;
	text-align: left;
	padding: 1rem 1.5rem;
	border: var(--border);
	border-color: var(--color-gray-90);
	color: var(--color-gray-90);
	&:hover {
		background-color: var(--color-gray-90);
		color: var(--color-gray-20);
	}
}
.accordion__label {
	cursor: pointer;
	transition: white 0.1s;
	position: relative;
	text-transform: uppercase;
	font-family: var(--font-family-geo);
	font-size: 0.675em;
	letter-spacing: 0.125em;
}
.accordion__input {
	display: none;
}
.accordion__input:checked ~ .img-container {
	display: block;
}
.img-container {
	padding-top: 1rem;
	display: none;
	overflow: hidden;
	& > picture > img {
		margin-bottom: 1rem;
	}
	& > picture:last-child > img {
		margin-bottom: 0;
	}
}

/* Margins */
.postlist-excerpt {
	margin: 0;
}
.small-caps {
	font-weight: 700;
	text-transform: lowercase;
	font-variant: small-caps;
	letter-spacing: 0.035em;
}

p:first-of-type:not(.read-more, .date) {
	margin-top: 0;
}

.indent {
	margin-left: 2.25rem;
}

blockquote {
	border-left: var(--border);
	border-color: var(--text-color-link);
  margin-inline-start: 0;
  margin-inline-end: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-left: 1.5rem;
	line-height: 1.625;
	position: relative;
}

blockquote cite {
	text-transform: uppercase;
	font-family: var(--font-family-geo);
	font-size: 0.675em;
	letter-spacing: 0.125em;
	text-align: start;
	position: relative;
	left: 0;
	bottom: 0;
	&:before{
		content:"—\A";
		white-space: pre-wrap;
	}
}

ul li {
		line-height: 1.625;
}

.links-nextprev {
	list-style: none;
	border-top: var(--border);
	border-color: var(--text-color);
	margin-top: 2em;
	padding: 0.5em 0;
	display: flex;
	justify-content: space-between;
	& li {
		max-width: 50%;
		max-inline-size: 20ch;
		text-wrap: balance;
		&:nth-child(2) {
			text-align: end;
		}
	}
}

/* Highlighting */
mark {
	background: var(--text-color-link);
	opacity: 0.75;
	border-radius: 0.25em;
	padding-bottom: 0.125em;
	padding-left: 0.125em;
	padding-right: 0.125em;
	z-index: 0;
	&:hover {
		background: var(--text-color-link-active);
		color: var(--background-color);
	}
}

/* In-line References & Footnotes */

sup {
	font-size: 0.675em;
	font-weight: 700;
}

hr {
	border: 0;
	border-top: var(--border);
	border-color: var(--text-color);
	margin-top: 2em;
	margin-bottom: 1rem;
}

.footnotes-sep:before {
	content: 'Footnotes';
	font-family: var(--font-family-geo);
	color: var(--text-color);
	font-size: 0.675em;
	letter-spacing: 0.125em;
	text-transform: uppercase;
}

.footnotes {
	font-size: 0.875em;
	& p {
		line-height: 1.4;
	}
}

div.poem p:first-line {
	font-variant: small-caps;
	font-weight: 700;
  letter-spacing: 0.035em;
}

/* WARNING: Here there be dragons! Experimental styles */

/* There’s nothing to see here! */
