article img {
	height: 100%;
}

/* Portfolio Images: Carousel */
.carousel {
	display: flex;
	list-style: none;
	overflow-x: scroll;
	overflow-y: hidden;
	scroll-snap-type: x mandatory;
	-webkit-overflow-scrolling: touch;
	background: var(--color-gray-90);
	padding-inline-start: 0;
}

.carousel li {
	flex-basis: auto;
	flex-shrink: 0;
	scroll-snap-align: center;
	width: 100%;
	text-align: center;
		& picture img {
		max-height: 36rem;
		max-width: 85%;
		padding-top: 1rem;
		padding-bottom: 1rem;
	}
}

/* Archive: Accordions */
.accordion-container {
	margin-block-end: .75rem;
}

.text-width {
	max-width: 48ch;
	margin-inline: auto;
}

details div {
	border-left: 1.5px solid var(--color-gray-90);
	border-right: 1.5px solid var(--color-gray-90);
	border-bottom: 1.5px solid var(--color-gray-90);
	padding-inline-start: 2.75rem;
	padding-inline-end: 0.5rem;
	padding-block: 1.5rem 2rem;
}

details div > * + * {
	margin-top: 1.5em;
}

details + details {
	margin-top: .75rem;
}

summary {
	list-style: none;
}

summary::-webkit-details-marker {
	display: none;
}

summary {
	border: 1.5px solid var(--color-gray-90);
	padding: .75rem 1rem;
	cursor: pointer;
	position: relative;
	padding-left: calc(1.75rem + .5rem + .5rem);
	font-family: var(--font-family-monospace);
	font-size: 0.875rem;
}

summary:before {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: .75rem;
	content: "+";
	width: 1.5rem;
	height: 1.5rem;
	background-color: var(--color-gray-90);
	color: var(--background-color);
	display: inline-flex;
	justify-content: center;
	align-items: center;
	flex-shrink: 0;
	font-family: var(--font-family-monospace);
}

details[open] summary {
	background-color: var(--background-color);
}

details[open] summary:before {
	content: "-";
	font-family: var(--font-family-monospace);
}

summary:hover {
	--dot-bg: var(--background-color);
  --dot-color: var(--color-gray-20);
  --dot-size: 1.5px;
  --dot-space: 2px;
	background:
		linear-gradient(90deg, var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
		linear-gradient(var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
		var(--dot-color);
}

/* Colophon Rounded Website Screenshots */
.rounded picture img {
	border-radius: 0.5rem;
	border: 1px solid var(--color-gray-90);
	margin-top: 0.5rem;
}
.rounded {
	margin-bottom: 1rem;
}

/* Margins */
article > p:first-child {
	margin-block-start: 0.75rem;
	margin-block-end: 0.75rem;
	padding-inline: 1rem;
	font-size: 1.25rem;
	font-style: italic;
	line-height: 1.4;
}

article > p:nth-child(2) {
	border-top: var(--dotted-border);
} 

article > p:nth-child(2):has(picture) {
	border: 0;
}

hr {
	border-bottom: var(--dotted-border);
}

article > p:not(:first-child) {
	max-width: 48ch;
	margin-inline: auto;
	&:has(picture) {
		max-width: unset;
		margin-block-end: .75rem;
	}
}

article > p > picture img {
	margin-block-end: 0;
}

article > #highlights {
	color: var(--background-color);
	background: var(--color-gray-90);
}

article > .highlights {
	max-width: 48ch;
	margin-inline: auto;
	& > h3 {
		border: var(--solid-border);
		padding-inline: 1rem;
		padding-block: .5rem;
		margin-block-end: .75rem;
	}
	& ul li {
		margin-block: 1rem;
	}
}

article > h2, 
article > h3, 
article > h4 {
	border: var(--solid-border);
	padding-inline: 1rem;
	padding-block: .5rem;
	margin-block: 0 0.75rem;
}

article > h4 {
	max-width: 48ch;
	margin-inline: auto;
}

article > ul,
article > ol:not(.postlist) {
	max-width: 48ch;
	margin-bottom: 1rem;
	margin-inline: auto;
}

.small-caps {
	font-weight: 700;
	text-transform: lowercase;
	font-variant: small-caps;
	letter-spacing: 0.035em;
}

.post-metadata-container {
	padding-inline: 1rem;
	padding-block: 0.5rem;
	display: flex;
	flex-direction: row;
	gap: 1rem;
	align-items: center;
	justify-content: space-between;
	border: var(--solid-border-2x);
	& p {
		display: block;
	}
}

p:first-of-type
:not(.read-more, .read-moreBooks, .date) {
	margin-top: 0;
}

article > blockquote {
	max-width: 48ch;
	border-left: var(--dotted-border);
	border-color: var(--text-color-link);
  margin-inline: auto;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-left: 1.5rem;
	line-height: 1.625;
	position: relative;
}

blockquote cite {
	text-transform: uppercase;
	font-family: var(--font-family-geo);
	font-size: 0.675em;
	letter-spacing: 0.125em;
	text-align: start;
	position: relative;
	left: 0;
	bottom: 0;
	&:before{
		content:"—\A";
		white-space: pre-wrap;
	}
}

ul li {
		line-height: 1.625;
}

/* Prev and Next Links */
.links-nextprev {
	margin-block-start: 2rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: stretch;
}

.link-container {
	flex: 1 1 50%;
	display: flex;
	flex-direction: column;
	border-top: var(--solid-border-2x);
	border-bottom: var(--solid-border-2x);
	border-left: var(--solid-border-2x);
	padding-inline: 1rem;
	padding-block: .75rem 1rem;
}

.link-container:last-child {
	border-right: var(--solid-border-2x);
}

.link-container:hover {
	--dot-bg: var(--background-color);
  --dot-color: var(--color-gray-20);
  --dot-size: 1.5px;
  --dot-space: 2px;
	background:
		linear-gradient(90deg, var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
		linear-gradient(var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
		var(--dot-color);
}

.link-container span {
	font-family: var(--font-family-monospace);
	font-weight: 700;
	font-size: 0.875rem;
	margin-block-end: .5rem;
}

.link-container p {
	margin-block: 0;	
}

.prev, .prev + * {
	text-align: start;
}

.next, .next + * {
	text-align: end;
}

/* Icons */
.prev::before, .next::after {
	width: 1.5rem;
	height: 1.5rem;
	background-color: var(--color-gray-90);
	color: var(--background-color);
	display: inline-flex;
	justify-content: center;
	align-items: center;
	flex-shrink: 0;
	font-family: var(--font-family-monospace);
}

.prev.oops::before, .next.oops::after {
	content: "⊘";
}

.prev::before {
	content: "←";
	margin-inline-end: .5rem;
}

.next::after {
	content: "→";
	margin-inline-start: .5rem;
}

/* Book Highlights */
.highlights ul {
	list-style: none;
	padding: 0;
		& li::before {
			content: "☞";
			width: 1.625rem;
			height: 1.325rem;
			background-color: var(--color-gray-90);
			color: var(--background-color);
			display: inline-flex;
			justify-content: center;
			align-items: center;
		}
		& p {
			margin: 0;
			&:first-child {
				display: inline;
				padding-inline-start: .25rem;				
			}
			&:not(:first-child) {
				text-indent: 1.5rem;
			}
		}	
	}
	
/* In-line References & Footnotes */

sup {
	font-size: 0.675em;
	font-weight: 700;
}

hr {
	border: 0;
	border-top: var(--dotted-border);
	margin-top: 2em;
	margin-bottom: 1rem;
}

.footnotes-sep:before {
	content: 'Footnotes';
	font-family: var(--font-family-geo);
	color: var(--text-color);
	font-size: 0.675em;
	letter-spacing: 0.125em;
	text-transform: uppercase;
}

.footnotes {
	max-width: 56ch;
	margin-inline: auto;
	font-size: 0.875em;
	& p {
		line-height: 1.4;
	}
}

div.poem p:first-line {
	font-variant: small-caps;
	font-weight: 700;
  letter-spacing: 0.035em;
}

/* WARNING: Here there be dragons! Experimental styles */

