/* Default typography: h/t Modern Font Stacks */
:root {
	--font-family-serif: Charter, 'Bitstream Charter', 'Sitka Text', Cambria, serif;
	--font-family-sans: Optima, Candara, 'Noto Sans', source-sans-pro, sans-serif;
	--font-family-geo: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif;
	--font-family-monospace: Menlo, Consolas, 'Source Code Pro', 'Cascadia Code', 'DejaVu Sans Mono', ui-monospace, monospace;
	--font-family-didone: Didot, 'Bodoni MT', 'Noto Serif Display', 'URW Palladio L', P052, Sylfaen, serif;
}

/* Theme colors */
:root {
	--color-gray-20: hsl(0, 0%, 80%);
	--color-gray-50: hsl(0, 0%, 50%);
	--color-gray-90: hsl(0, 0%, 10%);

	--background-color: hsl(0, 0%, 95%);

	--text-color: var(--color-gray-90);
	--text-color-link: hsl(350, 50%, 35%);
	--text-color-link-active: hsl(350, 90%, 60%);
	--text-color-link-visited: var(--color-gray-90);

	--syntax-tab-size: 2;

	--dotted-border: 2px dotted var(--color-gray-20);
	--solid-border: .5px solid var(--color-gray-90);
	--solid-border-2x: 1px solid var(--color-gray-90);
}

@media (prefers-color-scheme: dark) {
	:root {
		--color-gray-20: hsl(0, 0%, 25%);
		--color-gray-50: hsl(0, 0%, 50%);
		--color-gray-90: hsl(0, 0%, 85%);

		/* --text-color is assigned to --color-gray-_ above */
		--text-color-link: hsl(210, 100%, 85%);
		--text-color-link-active: hsl(210, 75%, 50%);
		--text-color-link-visited: var(--color-gray-90);

		--background-color: hsl(210, 15%, 10%);
	}
}
