---
layout: layouts/home.njk
eleventyNavigation:
  key: Blog
  order: 3
eleventyExcludeFromCollections: false
---
<h1>
  Blog
</h1>

{% set postslist = collections.posts %}
{% include "postslist_byYear.njk" %}