---
title: Blog
layout: layouts/home.njk
eleventyNavigation:
  key: Blog
  order: 3
eleventyExcludeFromCollections: false
---
<div class="heading-container inverted">
<h2>
  Archive
</h2>
</div>

{% set postslist = collections.posts %}
{% include "postslist_byYear.njk" %}