---
title: Books
layout: layouts/home.njk
eleventyNavigation:
  key: Books
  order: 4
eleventyExcludeFromCollections: false
---
<h1>
  Library
</h1>

{% set postslist = collections.books %}
{% include "booksgrid.njk" %}