---
title: Books
layout: layouts/home.njk
eleventyNavigation:
  key: Books
  order: 4
eleventyExcludeFromCollections: false
---
<div class="heading-container inverted">
<h2>
  Library
</h2>
</div>

{% set postslist = collections.books %}
{% include "booksgrid.njk" %}