---
title: Drafts
layout: layouts/home.njk
eleventyExcludeFromCollections: true
---
<div class="heading-container inverted">
<h1>
  In Progress
</h1>
</div>

{% set postslist = collections.drafts %}
{% include "pagelist.njk" %}