---
permalink: humans.txt
eleventyExcludeFromCollections: true
---

/* TEAM */
Designer/Developer: {{ metadata.author.name }}
Contact: {{ metadata.author.email }}
Site: {{ metadata.author.url }}
Location: {{ metadata.author.location }}
{% if metadata.author.hometown %}From: {{ metadata.author.hometown }}{% endif %}
{% if metadata.author.fediverseProfile %}Fediverse: {{ metadata.author.fediverseProfile }}{% endif %}

/* SITE */
Last Update: {{ page.date }}
Standards: HTML5, CSS3
Software: 11ty