---
permalink: humans.txt
eleventyExcludeFromCollections: true
---

/* TEAM */
Designer/Developer: Shou June Lin Umfress
Contact: june@fascianistas.com
Site: https://heyjunebug.com
Location: Daly City, CA, USA
From: Glendale, AZ, USA
Fediverse: https://typo.social/@heyjune

/* SITE */
Last updated: 2023-10-06
Standards: HTML5, CSS3
Software: 11ty