---
title: Home
layout: layouts/home.njk
numberOfLatestPostsToShow: 3
numberOfLatestBooksToShow: 4
eleventyNavigation:
  key: Home
  order: 1
eleventyExcludeFromCollections: false
---

{% set postsCount = collections.posts | length %}
{% set latestPostsCount = postsCount | min(numberOfLatestPostsToShow) %}

<div class="heading-container inverted">
	<h2>Latest {{ latestPostsCount }} Post{% if latestPostsCount != 1 %}s{% endif %}</h2>
</div>

{% set postslist = collections.posts | head(-1 * numberOfLatestPostsToShow) %}
{% set postslistCounter = postsCount %}
{% include "postslist.njk" %}

{% set morePosts = postsCount - numberOfLatestPostsToShow %}
{% if morePosts > 0 %}
<div class="heading-container">
	<p class="read-more">Read #1 – #{{ morePosts }} in <a href="/blog/">the archive</a>.</p>
</div>
{% endif %}

{% set bookCount = collections.books | length %}
{% set latestBooksCount = bookCount | min(numberOfLatestBooksToShow) %}

<div class="heading-container inverted"><h2>Last {{ latestBooksCount }} Book{% if latestBooksCount != 1 %}s{% endif %}</h2></div>

{% set postslist = collections.books | head(-1 * numberOfLatestBooksToShow) %}
{% set booklistCounter = bookCount %}
{% include "booksgrid.njk" %}

{% set moreBooks = bookCount - numberOfLatestBooksToShow %}
{% if moreBooks > 0 %}
<div class="heading-container">
	<p class="read-moreBooks">Read about {{ moreBooks }} more book{% if moreBooks != 1 %}s{% endif %} in <a href="/books/">the library</a>.</p>
</div>
{% endif %}