---
title: Notes
layout: layouts/home.njk
eleventyNavigation:
  key: Notes
  order: 4
eleventyExcludeFromCollections: false
---
<h1>
  Learning
</h1>

{% set postslist = collections.notes %}
{% include "postslist_bySubject.njk" %}