---
title: Notes
layout: layouts/home.njk
eleventyNavigation:
  key: Notes
  order: 4
eleventyExcludeFromCollections: false
---
<div class="heading-container inverted">
  <h2>
  Learning
  </h2>
</div>

{% set postslist = collections.notes %}
{% include "postslist_bySubject.njk" %}