---
layout: layouts/base.njk
title: Portfolio
date: 2023-09-29
draft: true
eleventyNavigation:
  key: Portfolio
  order: 5
eleventyExcludeFromCollections: false
---
<h1>
  Portfolio
</h1>

<div class="entry">
  <div class="left flex-item postlist-metadata">
    <p class="metadata">
      Last updated
      <time class="postlist-date" datetime="{{ page.date | htmlDateString }}">
      {{ page.date | readableDate("LLLL dd yyyy") }}
      </time>
    </p>
  </div>
  <div class="right flex-item">
    <section>
      <p>I created this to share my design background with you. When I first wrote these pages, I didn’t expect this trek down memory lane tp lead to the startling realization of <em>just</em> how much I’ve learned and how far I’ve come.</p>
      <blockquote>This page is under construction. Not only is it missing the years 2015–2022, it is also missing implementation of featured images (it’s on my ever-expanding list).</blockquote>
      <p>These pages are organized in reverse chronological order. They read well enough in either direction.</p>
    </section>
    <section>
      <h2>too long: didn’t read (tl:dr;)</h2>
      <p>Reflection feeds confidence and sustains motivation.</p>
    </section>
  </div>
</div>

{% set postslist = collections.portfolio %}
{% include "postslist.njk" %}