---
layout: layouts/post.njk
title: Portfolio
date: 2023-09-29
draft: true
eleventyExcludeFromCollections: true
---

<article>
    <p>I created this to share my design background with you. When I first wrote these pages, I didn’t expect this trek down memory lane to lead to the startling realization of <em>just</em> how much I’ve learned and how far I’ve come.</p>
    <p>These pages are organized in reverse chronological order. They read well enough in either direction.</p>
    <div class="accordion-container text-width">
    <details>
      <summary>
        too long: didn’t read (tl:dr;)
      </summary>
      <div>
        <p>Reflection feeds confidence and sustains motivation.</p>
      </div>
    </details>  
  </div>  
</article>

<h2 class="heading-container inverted">Pages</h2>
{% set postslist = collections.portfolio %}
{% include "pagelist.njk" %}