---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - post
    - posts
    - tagList
    - reports
    - 'book reviews'
  addAllPagesToCollections: true
layout: layouts/home.njk
eleventyComputed:
  title: Posts tagged “{{ tag }}”
permalink: /tags/{{ tag | slugify }}/
eleventyExcludeFromCollections: false
---

<div class="heading-container inverted">
  <h1 class="mainContent">{{ tag | capitalize }}</h1>
</div>

{% set postslist = collections[ tag ] %}
{% include "pagelist.njk" %}

  <details>
    <summary class="dotted-background">See all tags</summary>
    <div>
      <ul class="tags-list--no-border">
        {% for tag in collections.posts | getAllTags | filterTagList | sort(false, false, tags) %}
          {% set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
          <li>
            <a href="{{ tagUrl }}" class="post-tag">{{ tag }}</a> <sup>{{ collections[tag].length }}</sup>
          </li>
        {% endfor %}
        </ul>
    </div>
  </details>