---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - post
    - posts
    - tagList
    - reports
    - 'book reviews'
  addAllPagesToCollections: true
layout: layouts/home.njk
eleventyComputed:
  title: Blog posts tagged “{{ tag }}”
permalink: /tags/{{ tag | slugify }}/
eleventyExcludeFromCollections: false
---

<div class="heading-container inverted">
<h2 class="mainContent">On <em>{{ tag | capitalize }}</em></h2>
</div>

{% set postslist = collections[ tag ] %}
{% include "postslist.njk" %}

<div class="heading-container">
<p>See <a href="/tags/">all tags</a>.</p>
</div>