---
permalink: /tags/
layout: layouts/home.njk
eleventyExcludeFromCollections: false
title: Tags
---
<h1>Topics</h1>

<ul class="tags-list">
{% for tag in collections.all | getAllTags | filterTagList | sort(false, false, tag) %}
	{% set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
	<li>
		<a href="{{ tagUrl }}" class="post-tag">{{ tag }}</a> <sup>{{ collections[tag].length }}</sup>
	</li>
{% endfor %}
</ul>
