{% css %}
	{% include "public/css/bookgrid.css" %}
{% endcss %} 
{% if page.url == "/books/" %}
	{% css %}
	.entry-container { border-top: var(--solid-border); }
	{% endcss %}
{% endif %}

<ol reversed class="booklist book-container">
	{% for post in postslist | reverse %}
		<li
			class="book booklist-item{% if post.url == url %} booklist-item-active{% endif %}"
		>
		<div class="booktitle-container">
			<a href="{{ post.url }}"><h3>{{ post.data.title }}</h3></a>
		</div>
		<img
			src="{{ post.data.featuredImg }}"
			alt="The cover of {{ post.data.title }}"
			class="book-featuredImg"
		/>
		{% if page.url == "/books/" %} 
		<div class="entry-container">
			{% if post.data.excerpt %}
				<p class="postlist-excerpt">
					{{ post.data.excerpt | safe }}
				</p>
			{% endif %} 
			{% if post.data.hasHighlights %}
				<a href="{{ post.url }}/#highlights" class="deeper-icon">Look at the highlights</a>.
			{% endif %}
		</div>
		{% endif %}
		<div class="metadata-container">
			<p class="metadata">
				{% if post.data.draft %}
				Reading
				{% else %}
				Finished
				{% endif %}
			</p>
			<p class="metadata">
				<time
					class="postlist-date"
					datetime="{{ post.date | htmlDateString }}"
					>{{ post.date | readableDate("LLLL yyyy") }}</time>
			</p>
		</div>
	</li>
	{% endfor %}
</ol>