{% css %}{% include "public/css/book.css" %}{% endcss %}
{% css %}.booklist { counter-reset: start-from {{ (booklistCounter or booklist.length) + 1 }} }{% endcss %}

<ol reversed class="booklist book-container">
{% for post in booklist | reverse %}
		<li class="book booklist-item{% if post.url == url %} booklist-item-active{% endif %}">	
			<a href="{{ post.url }}" class="postlist-link">
				{% if post.data.featuredImg %}
				<img 
				src="{{ post.data.featuredImg }}"
				alt="The cover of {{ post.data.title }}"
				class="book-featuredImg"
				/>
				{% endif %}
				{% if post.data.title %}
				{{ post.data.title }}
				{% else %}
				<code>{{ post.url }}</code>
				{% endif %}
			</a>
		{% if post.data.excerpt %}
			<p class="postlist-excerpt">
				{{ post.data.excerpt | safe }}
			</p>
		{% endif %}
			<time class="postlist-date" datetime="{{ post.date | htmlDateString }}">
			{{ post.date | readableDate("LLLL yyyy") }}
			</time>
		</li>
{% endfor %}
</ol>

