{% css %}{% include "public/css/post.css" %}{% endcss %}
{% css %}.postlist { counter-reset: start-from {{ (postslistCounter or postslist.length) + 1 }} }{% endcss %}

{% set showYear = true %}

{% if showYear %}
{% set currentYear = "" %}
<div class="accordion-container">
	<details>
		<summary>Jump to a specific year</summary>
		<div>
			<ol class="tags-list--no-border">
			{% for post in postslist | reverse %}	
			{% set postYear = post.date.getFullYear() %}
				{% if currentYear != postYear %}
				{% set currentYear = postYear %}
				<li><a href="#{{ postYear }}">{{ postYear }}</a></li>
				{% endif %}
			{% endfor %}
			</ol>
		</div>
	</details>
	<details>
		<summary>Tags in alphabetical order</summary>
		<div>
			<ul class="tags-list--no-border">
				{% for tag in collections.all | getAllTags | filterTagList | sort(false, false, tag) %}
					{% set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
					<li>
						<a href="{{ tagUrl }}" class="post-tag">{{ tag }}</a> <sup>{{ collections[tag].length }}</sup>
					</li>
				{% endfor %}
				</ul>
		</div>
	</details>
</div>
{% endif %}

<ol reversed class="postlist">
{% set currentYear = "" %}
{% for post in postslist | reverse %}
	{% if showYear %}
	{% set postYear = post.date.getFullYear() %}
		{% if currentYear != postYear %}
		{% set currentYear = postYear %}
		<h2 class="postlist-category" id="{{postYear}}">{{ postYear }}</h2>
		{% endif %}
	{% endif %}
	
	{% include 'partials/_postslist.njk' %}

{% endfor %}
</ol>