{% css %}{% include "public/css/post.css" %}{% endcss %}
{% css %}.postlist { counter-reset: start-from {{ (postslistCounter or postslist.length) + 1 }} }{% endcss %}

{% set showSubject = true %}

<ol reversed class="postlist">
{% set currentSubject = '' %}
{% for post in postslist | reverse %}

	{% if showSubject %}
	{% set postSubject = post.data.subject %}

		{% if currentSubject != postSubject %}
		{% set currentSubject = postSubject %}
		<h3 class="postlist-category">{{ postSubject | capitalize }}</h3>
		{% endif %}

	{% endif %}

	{% include 'partials/_postslist.njk' %}

{% endfor %}
</ol>
