{% css %}{% include "public/css/post.css" %}{% endcss %}
{% css %}.postlist { counter-reset: start-from {{ (postslistCounter or postslist.length) + 1 }} }{% endcss %}

{% set showSubject = true %}

{% if showSubject %}
{% set currentSubject = "" %}
<div class="accordion-container">
	<details>
		<summary>Jump to a specific subject</summary>
		<div>
			<ol class="tags-list--no-border">
			{% for post in postslist | reverse %}	
			{% set postSubject = post.data.subject %}
			{% if currentSubject != postSubject %}
			{% set currentSubject = postSubject %}
				<li><a href="#{{ postSubject }}">{{ postSubject }}</a></li>
				{% endif %}
			{% endfor %}
			</ol>
		</div>
	</details>
</div>
{% endif %}

<ol reversed class="postlist">
{% set currentSubject = '' %}
{% for post in postslist | reverse %}

	{% if showSubject %}
	{% set postSubject = post.data.subject %}

		{% if currentSubject != postSubject %}
		{% set currentSubject = postSubject %}
		<h2 class="postlist-category" id="{{postSubject}}">{{ postSubject | capitalize }}</h2>
		{% endif %}

	{% endif %}

	{% include 'partials/_postslist.njk' %}

{% endfor %}
</ol>
