---
title: Notes
layout: layouts/home.njk
eleventyNavigation:
  key: Notes
  order: 4
eleventyExcludeFromCollections: false
---
<div class="heading-container inverted">
  <h1>
  {{ title | safe }}
  </h1>
</div>

{% set postslist = collections.notes %}
{% include "postslist_bySubject.njk" %}