<!doctype html>
<html lang="{{ metadata.language }}">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ title or metadata.title }}</title>
		<meta name="description" content="{{ description or metadata.description }}">

		{#- Atom and JSON feeds included by default #}
		<link rel="alternate" href="/feed/feed.xml" type="application/atom+xml" title="{{ metadata.title }}">
		<link rel="alternate" href="/feed/feed.json" type="application/json" title="{{ metadata.title }}">

		{# Favicon #}
		<link rel="shortcut icon" href="{{ metadata.favicon }}" type="image/png">

		{#- Uncomment this if you’d like folks to know that you used Eleventy to build your site!  #}
		<meta name="generator" content="{{ eleventy.generator }}">

		{#-
		CSS bundles are provided via the `eleventy-plugin-bundle` plugin:
		1. You can add to them using `{% css %}`
		2. You can get from them using `{% getBundle "css" %}` or `{% getBundleFileUrl "css" %}`
		3. You can do the same for JS: {% js %}{% endjs %} and <script>{% getBundle "js" %}</script>
		4. Learn more: https://github.com/11ty/eleventy-plugin-bundle
		#}

		{#- Add an arbitrary string to the bundle #}
		{# {% css %}* { box-sizing: border-box; }{% endcss %} #}
		{#- Add the contents of a file to the bundle #}
		{% css %}{% include "public/css/variables.css" %}{% endcss %}
		{% css %}{% include "public/css/index.css" %}{% endcss %}
		{#- Or add from node_modules #}
		{% css %}{% include "node_modules/prism-themes/themes/prism-dracula.css" %}{% endcss %}

		{#- Render the CSS bundle using Inlined CSS (for the fastest site performance in production) #}
		{# <style>{% getBundle "css" %}</style> #}
		{#- Renders the CSS bundle using a separate file, if you can't set CSP directive style-src: 'unsafe-inline' #}
		<link rel="stylesheet" href="{% getBundleFileUrl "css" %}">
	</head>
	<body>
		<a href="#skip" class="visually-hidden">Skip to main content</a>

		<header>
			<a href="/" class="home-link">
				<img 
					src="/img/favicon/juneLikeTheMonth_2x.webp" alt="The logo of June Umfress: a calendar flipped to the month of June"
					class="logo">
				<p>{{ metadata.title }}</p>
			</a>

			{#- Read more about `eleventy-navigation` at https://www.11ty.dev/docs/plugins/navigation/ #}
			<nav>
				<h2 class="visually-hidden">Primary navigation menu</h2>
				<ul class="nav">
				{% for entry in collections.all | eleventyNavigation %}
					<li class="nav-item"><a href="{{ entry.url }}"{% if entry.url == page.url %} aria-current="page"{% endif %}>{{ entry.title }}</a></li>
				{% endfor %}
				</ul>
			</nav>
		</header>

		<main id="skip">
			{{ content | safe }}
		</main>

		<footer>

			<nav class="footer-nav">
				<h2 class="visually-hidden">Secondary navigation menu</h2>
				<ul class="footer-nav-list">
					<li class="footer-nav-item">
						<a href="/portfolio/now/index.html">
							Now</a>
					</li>
					<li class="footer-nav-item">
						<a href="/tags/">
							Tags</a>
					</li>
					<li class="footer-nav-item">
						<a href="/feed/feed.xml">RSS</a>
					</li>
					<li class="footer-nav-item">
						<a href="mailto:june@fascianistas.com">Email</a>
					</li>
					
					<li class="footer-nav-item">
						<a href="/colophon/index.html">Colophon</a>
					</li>
					<li class="footer-nav-item">
						<a href="https://github.com/heyjunebug/personal-website">Source</a>
					</li>
					<li class="footer-nav-item">
						<a href="/sitemap/index.html">Sitemap</a>
					</li>
					<li class="footer-nav-item">
						<a href="/drafts/index.html">WIP</a>
					</li>
				</ul>
			</nav>
			<div class="copyright">
				<p>This site was made in San Francisco with ❤️, by me! </p>
				<p>©2023 Shou June Lin Umfress 林曉君.</p>
			</div>

		</footer>

		<!-- Current page: {{ page.url | htmlBaseUrl }} -->
	</body>
</html>
